* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
  font-family: Graphik, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*menu css starts*/
.menuDDtwo {
  font-family: Graphik, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
}

.menuDDtwo__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.menuDDtwo__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.menuDDtwo__link a {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.menuDDtwo__link:first-child:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #666;
  left: 12px;
  right: 0;
  bottom: 0;
}

.menuDDtwo__link:nth-child(2):hover::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #666;
  left: 12px;
  right: 12px;
  bottom: 0;
}

.menuDDtwo__link:nth-child(3):hover::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #666;
  left: 12px;
  right: 0;
  bottom: 0;
}

.menuDDtwo__link.dropdown--mega {
  margin-right: 22px;
  cursor: pointer;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap {
  position: absolute;
  top: 50px;
  left: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: none;
  border-radius: 4px;
  background-color: #fff;
  list-style-type: none;
  border: 1px solid #cacaca;
  -webkit-box-shadow: rgba(78, 92, 110, 0.25) 0px 4px 12px;
          box-shadow: rgba(78, 92, 110, 0.25) 0px 4px 12px;
  overflow: hidden;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-width: 400px;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #becada;
  margin: 20px 28px 0px 18px;
  border-bottom: 1px solid #becada;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 18px 20px;
  border-bottom: none;
  min-width: 400px;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link .icon {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link .icon svg {
  border-radius: 50%;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link .icon img {
  width: auto;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link .description h4 {
  margin-top: 0px;
  margin-bottom: 6px;
  color: #4e5c6e;
  font-weight: 500;
  font-size: 17px;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column .mega-menu-block .link .description span {
  color: #9ba6b2;
  font-weight: 500;
  font-size: 15px;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .megaDropDownWrap--inner .mega-column:nth-child(2) {
  background-color: #f3f9fe;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .link-white-paper {
  padding: 12px;
  border-top: 1px solid #b7b9bb;
  text-align: center;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .link-white-paper a {
  font-size: 16px;
  color: #333;
  opacity: 0.8;
  padding: 0;
  display: inline-block;
  font-weight: normal;
}

.menuDDtwo__link.dropdown--mega .megaDropDownWrap .link-white-paper a:hover {
  opacity: 1;
}

.menuDDtwo__link.dropdown--mega > svg {
  position: absolute;
  right: -3px;
  top: 50%;
  margin-top: -2px;
  fill: #000;
}

.menuDDtwo__link.dropdown .arrow-down {
  position: absolute;
  right: -3px;
  top: 50%;
  margin-top: -2px;
  fill: #000;
}

.menuDDtwo__link.dropdown .dropdown--menu {
  position: absolute;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  list-style-type: none;
  left: 57%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50px;
  border: 1px solid #e5e9ec;
  -webkit-box-shadow: rgba(78, 92, 110, 0.25) 0px 4px 12px;
          box-shadow: rgba(78, 92, 110, 0.25) 0px 4px 12px;
  display: none;
}

.menuDDtwo__link.dropdown .dropdown--menu li a {
  color: #4e5c6e;
  padding: 8px 16px;
  min-width: 126px;
  display: block;
  text-align: left;
}

.menuDDtwo__link.dropdown .dropdown--menu li:not(:last-child) a {
  border-bottom: 1px solid #dae1e9;
}

/*.menuDDtwo ends*/
.menuDDtwo.mobile-starts {
  display: none;
}

/*mobile menu starts*/
.menuDDtwoMobile {
  padding: 0px;
  margin-top: 60px;
  position: relative;
}

@media all and (min-width: 1025px) {
  .menuDDtwoMobile {
    display: none;
  }
}

.menuDDtwoMobile .mobile-menu-content-wrap {
  display: none;
}

.menuDDtwoMobile .mobile-menu-trigger-wrap {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -45px;
  right: 20px;
  display: inline-block;
  cursor: pointer;
}

.menuDDtwoMobile .mobile-menu-trigger {
  width: 20px;
  height: 3px;
  position: relative;
  background-color: #000;
  display: inline-block;
}

.menuDDtwoMobile .mobile-menu-trigger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #000;
  top: -6px;
}

.menuDDtwoMobile .mobile-menu-trigger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #000;
  bottom: -6px;
}

.menuDDtwoMobile .mobile-main-menu-wrap {
  border-top: 1px solid #f4f7fa;
  border-bottom: 1px solid #f4f7fa;
}

.menuDDtwoMobile .title-products {
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #9ba6b2;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  padding: 10px 20px;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap .icon {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap .icon svg {
  border-radius: 50%;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap .icon img {
  width: auto;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuDDtwoMobile .mobile-main-menu .icons-wrap a.link .icon-wrap .description h4 {
  margin-top: 0px;
  margin-bottom: 6px;
  color: #4e5c6e;
  font-weight: 500;
  font-size: 17px;
}

.menuDDtwoMobile .link-products {
  text-align: center;
  padding: 20px;
}

.menuDDtwoMobile .link-products a {
  display: inline-block;
  text-decoration: none;
  color: #0667d2;
}

.menuDDtwoMobile .mobile-main-pages {
  margin-bottom: 20px;
}

.menuDDtwoMobile .mobile-main-pages .title {
  padding: 20px 20px 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #9ba6b2;
}

.menuDDtwoMobile .mobile-main-pages ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menuDDtwoMobile .mobile-main-pages ul li a {
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  color: #4e5c6e;
  font-weight: 600;
}

/*menu css ends*/
/*# sourceMappingURL=menu.css.map */